*.o
*.udf
*.sud
*.zip
*.cara
*.7z
*.log
*.txt
*.g
*.atg
*.html
.gitignore
*.user
*.a
*.so
Backup/
Todo/
Versteck/
tmp/
tmp-dbg/
moc/
plugins/
release/
debug/
Versuche/
Testdaten/
make_snapshot.sh
Makefile
Makefile.Debug
Makefile.Release
